
main {
	margin: 0 auto;
	max-width: 85%;
  text-align: center;
  padding: 30px 30px;
  
}
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #46daa1;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(2rem * 1.5);
  --spacing-two: calc(3rem);
  --spacing-five: calc(4.5rem);
  

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--light);
  font-family: 'Poiret One', cursive;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Georgia', sans-serif;
  font-weight: 600;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2rem;
  color: var(--tertiary);
}

h3 {
  font-size: 1.75rem;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
  padding: 20px;
  
}

header a {
  color: var(--light);
   
}
.nav{
  margin-left: 20%;
}
.port{
  text-align: center;
}
button {
  cursor: pointer;
  float: right;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;

}

img {
  max-width: 100%;
  border: 10px solid var(--darker);
}

span[role="img"] {
  cursor: default;
}

form {
  width: 50%;
  margin: 30px auto;
  text-align: left;
  border: 10px solid var(--darker);
  padding: 20px;
}

input {
  font-size: 1rem;
  padding: 0.55rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 100%;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
  font-size: 2rem;
  
}

nav a:hover {
  text-decoration: none;
}
nav  li {
  cursor: pointer;
  
}
article{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px auto;
  justify-content: center;
}
article div{
  
  padding: 15px;
  margin: 10px;
  background-color: var(--darker);
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  
}
.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 22px;
	font-weight: 800;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--tertiary);
	font-weight: 800;
	margin-left: -2px;
	margin-right: -2px;
  font-size: 22px;
	
}

.navActive {
  color: var(--secondary);
}
.footer{
  text-align: center;
  padding: 15px;
  background-color: var(--darker);
}
.footer a{
  padding: 12px;
  font-size: 30px;
  color: var(--light);
 
}
.email{
  padding: 20px;
  text-align: center;
}
@media screen and (max-width:600px){
  main{
    width: 100%;
    padding: 12px 8px;
  }
  form{
    width: 100%;
  }
  ul li{
    font-size: 25px;
    
  }
  h1{
    text-align: center;
    color: var(--tertiary);
  }
  .img-thumbnail{
    width: 100%;
    margin: 0 auto;
  }
}
